mat-sidenav {
    width: 200px;


}

/* mat-sidenav ::ng-deep .mat-drawer-inner-container {
    background-color: red;
} */

a {
    background-color: grey;
}
mat-sidenav {
	background-color: whitesmoke;
}

mat-list-item {
    border-style: solid !important;
    border-color: cornflowerblue;
    background-color: skyblue;
	margin-left: 8px;
}
.ativo {
    background-color: cornflowerblue;
}

/* ngdeep */

/* https://www.figma.com/file/jBQFXRnrJKc5tHiCzOLIVI/Untitled?node-id=0%3A1 
arrumar o icone, trocar por uma div, e deixar ela centralizada com margin etc
arrumar os botões, do mesmo estilo do exemplo e ao inves de mudar a cor do botao
quando nao estiver nesse link ativo, retirar a cor de fundo */