<div class="lista">
    <!-- <div class="item" *ngFor="let pessoa of pessoas" (click)="pessoaAtual =pessoa ">
        {{pessoa.nomeCompleto}}
    </div> -->
</div>
<mat-toolbar>
    <span class="spann" style="justify-content: start;">
        <button mat-flat-button color="primary" mat-button [matMenuTriggerFor]="menu">Cadastrar</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['Professor']">Cadastrar Professor</button>
            <button mat-menu-item [routerLink]="['Aluno']">Cadastrar Aluno</button>
        </mat-menu>
    </span>
    <span class="spann">
        <button mat-flat-button color="primary" class="novoCadastro" (click)="salvar()"
            [disabled]="form.invalid">Salvar</button>
    </span>
</mat-toolbar>
<div class="divPai">

    <div id="lista" class="lista">
        <mat-action-list *ngFor="let pessoa of pessoas" style="padding: 0;">
            <mat-list-item class="conteudo" (click)="pessoaAtual = pessoa">
                <mat-label style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{pessoa.nome}}</mat-label>
                <br>
                <mat-label style="font-weight: lighter; font-style: oblique;">{{getIdade(pessoa.dataNascimento)}}
                    anos</mat-label>
                    <!-- <button (click)="apagarpessoa">
                      <mat-icon>delete</mat-icon>
                    </button> -->
            </mat-list-item>
        </mat-action-list>
    </div>
    <div id="cadastro" class="cadastro">
        <form [formGroup]="form" class="form">
            <mat-form-field appearance="fill">
                <mat-label>Nome Completo:</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf">
            </mat-form-field>
            <ng-container *ngIf="!isProfessor">
                <mat-form-field appearance="fill">
                    <mat-label>Número da matrícula</mat-label>
                    <input matInput formControlName="numeroMatricula">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="isProfessor">
                <mat-form-field appearance="fill">
                    <mat-label>Especialidade</mat-label>
                    <input matInput formControlName="especialidade">
                </mat-form-field>
            </ng-container>
        </form>

        <form [formGroup]="endereco" class="form">
            <mat-form-field appearance="fill">
                <mat-label>UF</mat-label>
                <input matInput formControlName="uf">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Logradouro</mat-label>
                <input matInput formControlName="logradouro">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Municipio</mat-label>
                <input matInput formControlName="municipio">
            </mat-form-field>
        </form>
    </div>
    <div class="cadastro" id="conhecimentos">
      <form class="form" [formGroup]="conhecimento">
          <ng-container>
              <mat-form-field appearance="fill">
                  <mat-label>Conhecimento</mat-label>
                  <input matInput (keydown.enter)="adicionarConhecimentos();$event.preventDefault() " formControlName="conhecimento">

              </mat-form-field>
          </ng-container>
          <ng-container *ngFor="let c of conhecimentos">
              <div style="display: flex">
                  <span style="flex: auto; align-self: center; background-color: snow;">{{c}}</span>
                  <button tabindex="-1" mat-icon-button (click)="deletarConhecimento(c)">
                      <mat-icon>delete</mat-icon>
                  </button>
              </div>
          </ng-container>
      </form>
  </div>
</div>
