<div class="lista">
    <!-- <div class="item" *ngFor="let pessoa of pessoas" (click)="pessoaAtual =pessoa ">
        {{pessoa.nomeCompleto}}
    </div> -->
</div>
<mat-toolbar>
    <span class="spann" style="justify-content: start;">
        <button (click)="condicional()" (click)="'/'" class="novoCadastro" id="novoCadastro" mat-flat-button
            color="primary">
            Novo Cadastro</button>
    </span>
    <span class="spann" style="justify-content: start;">
        <button (click)="getPessoas()" class="novoCadastro" id="novoCadastro" mat-flat-button color="primary">
            listar</button>
    </span>
    <span class="spann">
        <button mat-flat-button color="primary" class="novoCadastro" (click)="salvar()"
            [disabled]="form.invalid">Salvar</button>
    </span>
</mat-toolbar>
<div class="divPai">

    <div id="lista" class="lista">
        <mat-action-list *ngFor="let pessoa of pessoas" style="padding: 0;">
            <mat-list-item class="conteudo" (click)="pessoaAtual = pessoa">
                <mat-label style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{pessoa.nomeCompleto}}</mat-label>
                <br>
                <mat-label style="font-weight: lighter; font-style: oblique;">{{pessoa.idade}} anos</mat-label>
            </mat-list-item>
        </mat-action-list>
    </div>
    <div id="cadastro" class="cadastro" [hidden]="condicao">
        <form [formGroup]="form" class="form">
            <mat-form-field appearance="fill">
                <mat-label>Nome Completo:</mat-label>
                <input matInput formControlName="nomeCompleto">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data Nascimento:</mat-label>
                <input type="date" matInput formControlName="dataNascimento">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CPF:</mat-label>
                <input matInput formControlName="cpf">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Endereço:</mat-label>
                <input matInput formControlName="endereco">
            </mat-form-field>
        </form>

    </div>
</div>